.repo/
.vscode/
Release/
3rdParty/googletest/googletest/
3rdParty/googletest/.gtest_build/
3rdParty/googletest/lib/
3rdParty/libgo/libgo/
3rdParty/sqlite/lib/

Platform/*
!/Platform/Default
Components/Business/
Hardware/*
!/Hardware/CMakeLists.txt
!/Hardware/Default
!/Hardware/Common

